1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [1]:
lista = []
for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0:
        a = "MickeyMouse"
        print(a)
        lista_2 = [a]
    else:
        if i % 3 == 0:
            b = "Mickey"
            print(b)
            lista_2 = [b]
        elif i % 5 == 0:
            c = "Mouse"
            print(c)
            lista_2 = [c]
        else:
            print(i)
            lista_2 = [i]
    lista += lista_2

lista = ["Donald" if x == "Mickey" else "Duck" if x == "Mouse" else x for x in lista] #We substitute the words in the list because tuples are inmutable.
tupla = tuple(lista)
print(tupla)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
def swap_numbers(x = None, y = None):
    if x is None:
        x = input("Value of x")
    if y is None:
        y = input("Value of y")
    x, y = y, x
    return x, y

In [3]:
# First we try with a global variable.
x = 5
y = 2
swap_numbers(x,y)

(2, 5)

In [4]:
# We try now with a temporary variable we define inside the function with an input.
swap_numbers()

('2', '5')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [5]:
def euclidean_distance(u, v):
    diference = ()
    for i in range(0, len(u)):
        dif = (u[i] - v[i],)
        diference = diference + dif
    distance = ((diference[0])**2 + (diference[1])**2)**(1/2)
    print(f"The euclidean distance between u and v is: {distance}")

In [6]:
euclidean_distance((3,0),(0,4))

The euclidean distance between u and v is: 5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [42]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [ ]:
def count_characters(c):
    c = c.lower().replace(" ", "")
    unique = set(c) # We use set in order to get the unique characters.
    unique_characters = list(unique)
    initial = 0
    count = dict.fromkeys(unique_characters, initial) # We create a dictionary with the unique characters and we set their initial value to 0.
    for i in range(0, len(c)):
        if c[i] in unique_characters:
            count[c[i]] += 1
    return count

In [44]:
count_characters(s)

{'1': 2,
 'a': 7,
 'd': 3,
 '.': 2,
 'm': 12,
 'g': 1,
 't': 19,
 '0': 2,
 'r': 17,
 'k': 2,
 's': 9,
 'l': 6,
 'y': 2,
 'b': 5,
 'h': 9,
 'p': 8,
 'i': 14,
 'o': 13,
 'e': 22,
 'v': 2,
 'w': 2,
 'c': 3,
 'u': 9,
 'n': 10,
 'f': 10}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [45]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [50]:
def count_unique_nums(n):
    unique = set(n)
    unique_numbers = list(unique)
    print(f"The unique numbers are: {unique_numbers} \n and its counting is: {len(unique_numbers)}")

In [51]:
count_unique_nums(l)

The unique numbers are: [1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99]
 and its counting is: 54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [52]:
def square(n):
    return n**2

def cube(n):
    return n**3

In [53]:
def sixth_power(n):
    return cube(square(n))

In [54]:
sixth_power(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [57]:
n = list(range(11))

# loop case:

def loop_cube(n):
    cubes = []
    for i in range(0, len(n)):
        cub = n[i]**3
        cubes.append(cub)
    return cubes

In [58]:
loop_cube(n)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [63]:
def list_cube(n):
    cube = [n[i]**3 for i in range(0, len(n))]
    return cube

In [65]:
list_cube(n)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [71]:
n = list(range(101))
def pythagorean_triple(n):
    tuple_num = ()
    for a in range(1, len(n)):
        for b in range(1, len(n)):
            for c in range(1, len(n)):
                if a**2 + b**2 == c**2:
                    m = [a,b,c]
                    tupla = (m,)
                    tuple_num = tuple_num + tupla
    return tuple_num

In [72]:
pythagorean_triple(n)

([3, 4, 5],
 [4, 3, 5],
 [5, 12, 13],
 [6, 8, 10],
 [7, 24, 25],
 [8, 6, 10],
 [8, 15, 17],
 [9, 12, 15],
 [9, 40, 41],
 [10, 24, 26],
 [11, 60, 61],
 [12, 5, 13],
 [12, 9, 15],
 [12, 16, 20],
 [12, 35, 37],
 [13, 84, 85],
 [14, 48, 50],
 [15, 8, 17],
 [15, 20, 25],
 [15, 36, 39],
 [16, 12, 20],
 [16, 30, 34],
 [16, 63, 65],
 [18, 24, 30],
 [18, 80, 82],
 [20, 15, 25],
 [20, 21, 29],
 [20, 48, 52],
 [21, 20, 29],
 [21, 28, 35],
 [21, 72, 75],
 [24, 7, 25],
 [24, 10, 26],
 [24, 18, 30],
 [24, 32, 40],
 [24, 45, 51],
 [24, 70, 74],
 [25, 60, 65],
 [27, 36, 45],
 [28, 21, 35],
 [28, 45, 53],
 [28, 96, 100],
 [30, 16, 34],
 [30, 40, 50],
 [30, 72, 78],
 [32, 24, 40],
 [32, 60, 68],
 [33, 44, 55],
 [33, 56, 65],
 [35, 12, 37],
 [35, 84, 91],
 [36, 15, 39],
 [36, 27, 45],
 [36, 48, 60],
 [36, 77, 85],
 [39, 52, 65],
 [39, 80, 89],
 [40, 9, 41],
 [40, 30, 50],
 [40, 42, 58],
 [40, 75, 85],
 [42, 40, 58],
 [42, 56, 70],
 [44, 33, 55],
 [45, 24, 51],
 [45, 28, 53],
 [45, 60, 75],
 [48, 14, 50],
 [48, 20, 52],
 [48, 36, 60],
 [48, 55, 73],
 [48, 64, 80],
 [51, 68, 85],
 [52, 39, 65],
 [54, 72, 90],
 [55, 48, 73],
 [56, 33, 65],
 [56, 42, 70],
 [57, 76, 95],
 [60, 11, 61],
 [60, 25, 65],
 [60, 32, 68],
 [60, 45, 75],
 [60, 63, 87],
 [60, 80, 100],
 [63, 16, 65],
 [63, 60, 87],
 [64, 48, 80],
 [65, 72, 97],
 [68, 51, 85],
 [70, 24, 74],
 [72, 21, 75],
 [72, 30, 78],
 [72, 54, 90],
 [72, 65, 97],
 [75, 40, 85],
 [76, 57, 95],
 [77, 36, 85],
 [80, 18, 82],
 [80, 39, 89],
 [80, 60, 100],
 [84, 13, 85],
 [84, 35, 91],
 [96, 28, 100])

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [1]:
def normalized(l):
    l = list(l)
    norm = [(x - min(x)) / (max(x) - min(x)) for x in l]
    return norm

In [ ]:
n = (1,5,6,7)
normalized(n)

TypeError: 'int' object is not iterable